
<section class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>Update Display Name</h2>
        <%= form_for(current_user, :as => 'user', :url => finish_signup_path(current_user), :html => { role: 'form'}) do |f| %>
          <% if @user.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <% @user.errors.full_messages.each do |msg| %>
                <%= msg %><br>
              <% end %>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label :display_name %>
            <div class="controls">
              <%= f.text_field :display_name, class: 'form-control input-lg', placeholder: 'Example: unicorn_lady' %>
              <p>Your display name will be public</p>
            </div>
          </div>
          <%= f.submit 'Continue', :class => 'btn btn-fill btn-info' %>
        <% end %><!-- /form_for -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
