<% @encounters.each do |encounter| %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= link_to "Case ID: #{encounter.id}", user_encounter_path(encounter.user.display_name, encounter.id) %>
      <% if user_signed_in? && encounter.user_id == current_user.id %>
        <span class="pull-right"><%= link_to "Edit Encounter", edit_user_encounter_path(encounter.user.display_name, encounter) %></span>
      <% end %>
    </h5>
    <p class="card-text">Date of Encounter: <%= encounter.date %></p>
    <p class="card-text">State: <%= encounter.state %></p>
    <p class="card-text">Description of Encounter: <%= encounter.description[0,350] %></p>
    <p class="card-text">Category: <%= link_to encounter.category.name, category_encounters_path(encounter.category.slug) %></p>
    <div class="card-footer">
      <span>Tags: <%= raw encounter.tags.map(&:name).map { |t| link_to t, tag_path(t.parameterize), :class => "badge badge-info"}.join(' ') %></span>
    </div>
  </div>
</div><!-- /.card -->
<% end %>
