<h1>Encounters#index</h1>
<p>Find me in app/views/encounters/index.html.erb</p>

<% if @user %>
  <h2><%= @user.display_name %></h2>
  <%= render 'user_encounters_display' %>

<% elsif @category %>
  <h2><%= @category.name %></h2>
  <%= render 'category_encounters_display' %>

<% else %>
  <h2>All Anomalous Encounters</h2>
  <%= render 'encounters_display' %>
<% end %>
