<h1><%= @encounter.state %></h1>
<p><%= @encounter.date %></p>

<p><%= @encounter.user.display_name%></p>
<p><%= @encounter.category.name %></p>
<small>Tags: <%= raw @encounter.tags.map(&:name).map { |t| link_to t, tag_path(t.parameterize) }.join(', ') %></small>
