
<div class="py-3 my-3" style="background: #246499;">
  <h2 class="display-6 text-center mb-0 text-white">Tag: <%= @tag.name %><span class="ml-2 badge badge-light"><%= @tag.encounters.count %></span></h2>
</div>
<% @tag.encounters.each do |encounter| %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= link_to "Case ID #{encounter.id}", user_encounter_path(encounter.user.display_name, encounter) %></h5>
    <p class="card-text">Category: <%= link_to encounter.category.name, category_path(encounter.category.slug) %></p>
    <p class="card-text">Description: <%= encounter.description %></p>
  </div>
</div>
<% end %>
