<!DOCTYPE html>
<html>
  <head>
    <title>Anomalous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div id="flash-messages" class="mt-3">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg.html_safe, :id => "flash_#{name}", :class => "alert alert-info" %>
      <% end %>
    </div>
    <div class="wrapper">
      <main class="main">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <%= yield %>
            </div>
            <div class="col-md-4">
              <%= render 'layouts/new_encounter' %>
              <%= render "encounters/categories", locals: {categories: @categories} %>
              <%= render template: "tags/index" %>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
